allocateTarget                      = markupDeadline
amendResponse                       = reDraftStarted
assignedTeam                        = assignedTeam
assignedUnit                        = assignedUnit
assignedUser                        = assignedUser
caseReference                       = reference
caseResponseDeadline                = caseDeadline
caseStatus                          = caseStatus
caseTask                            = currentStage
channel                             = originalChannel
CommentCount                        = commentCount
completed                           = caseCompleted
correspondenceType                  = caseType
correspondentAddressLine1           = primaryCorrAddress1
correspondentAddressLine2           = primaryCorrAddress2
correspondentAddressLine3           = primaryCorrAddress3
correspondentCountry                = primaryCorrCountry
correspondentEmail                  = primaryCorrEmail
correspondentForename               = primaryCorrFullname
correspondentPostcode               = primaryCorrPostcode
correspondentTelephone              = primaryCorrTelephone
createCase                          = caseCreated
dateOfLetter                        = dateOfCorrespondence
dateReceived                        = dateReceived
dcuMinisterSignoff                  = ministerSignOffStarted
dispatchResponse                    = dispatchAllocatedToUser
dispatchTarget                      = dispatchDeadline
draftDate                           = initialDraftDeadline
draftResponse                       = initialDraftAllocatedToUser
draftResponseTarget                 = initialDraftDeadline
homeSecSignOff                      = homeSecSignOff
homeSecretaryReply                  = homeSecretaryReply
hsPrivateOfficeApproval             = homeSecPrivateOfficeApprovalStarted
markUp                              = markupStarted
markupDecision                      = markupDecision
markupMinister                      = privateOfficeTeam
modified                            = lastModified
Modifier                            = lastModifiedBy
mpREF                               = mpRef
ogdName                             = ogdDept
originalDrafterTeam                 = originalDraftTeam
originalDrafterUnit                 = originalDraftUnit
originalDrafterUser                 = originalDraftUser
ownerUpdatedDatetime                = assignedUserUpdated
poTarget                            = privateOfficeDeadline
privateOfficeApproval               = privateOfficeLatest
qacase                              = qaResponseStarted
qareview                            = qaResponseAllocatedToUser
replyToNumberTenCopy                = copyNumberTen
returnedCount                       = draftCount
signedByHomeSec                     = homeSecSignedOff
signedByLordsMinister               = lordsMinisterSignedOff
statusUpdatedDatetime               = latestStageChange
taskUpdatedDatetime                 = latestDataChange
thirdPartyCorrespondentAddressLine1 = secondCorrAddress1
thirdPartyCorrespondentAddressLine2 = secondCorrAddress2
thirdPartyCorrespondentAddressLine3 = secondCorrAddress3
thirdPartyCorrespondentCountry      = secondCorrCountry
thirdPartyCorrespondentEmail        = secondCorrEmail
thirdPartyCorrespondentForename     = secondCorrFullname
thirdPartyCorrespondentPostcode     = secondCorrPostcode
thirdPartyCorrespondentTelephone    = secondCorrTelephone
thirdPartyTypeOfCorrespondent       = secondCorrType
UUID                                = caseUuid
